@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-off-white;
}

button#action-select > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scroll-stable {
  scrollbar-gutter: stable;
}
